.loginForm {
    width: max-content;
    padding: 20px;
    margin: 0 auto;

    text-align: center;
}

.loginForm h2 {
    margin: 0;
    margin-bottom: 10px;
}

.loginFormInput {
    width: 100%;
    padding: 4px 5px;
    border-radius: 8px;
    border: 1px solid rgb(138, 136, 136)
}

.loginFormInput:focus::placeholder {
    color: transparent;
}

.loginForm button {
    width: 100%;
}