@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

* {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none
}

button {
  outline: unset;
  border: none;
  background-color: unset;
  cursor: pointer;
}

input, textarea {
  outline: unset;
  border: 0;
}

input, button, textarea {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

main {
  padding: 10px;
  min-height: calc(100vh - 100px);
}

h1 {
  text-align: center;
}